@import "../node_modules/prismjs/themes/prism-tomorrow";
@import "./assets/scss/app.scss";

.fa {
  margin-right: 10px;
}

.a {
  padding: 4px 2px 4px 4px;
}

.b {
  padding: 4px 4px 4px 12px;
}

.icon-table {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
